@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

nav {
    position: fixed;
    top: 0;
    width: 100%;

}

body {
    font-family: 'Fira Code', monospace;
    margin: 0;
    color: white;
    background-color: black;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#main-body {
    padding: 0 15vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(33, 33, 33, 0.5)
}

li {
    display: inline;
    float: right;
    padding: 1em;
} 

li a {
    display: block;
    padding: 8px;
}

#title-text {
    font-size: 4.5em;
    font-weight:normal;
}

.subtitle {
    font-weight:normal;
    font-size: 3em;
}

#title-subtext {
    font-weight:normal;
    font-size: 1.5em;
}

.blog-title {
    font-weight:normal;
    padding: 2vh 0;
    font-size: 1.5em;
}

#title {
    height: 100vh;
    width: 100 vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-image {
    height: 50%;
    padding: 2vh 0;
}

.post {
    height: fit-content;
    width: 40%;
}

#post-preview {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
}

.nav-link {
    color: inherit;
    text-decoration: none;
}

section {
    padding-bottom: 10vh;
}
